Props.loadQuote	Properties loaded successfully!

SSLConnection.portNumber 25001

DBHandler.USER
DBHandler.PASS
DBHandler.DB_URL
DBHandler.JDBC_DRIVER org.postgresql.Driver

ConcentratorDeadTimer.waitTime 500

APProcessor.preSharedKey +/////v////7////+////wIAAAA=

LoRaSettings.maxPower 15
LoRaSettings.maxSpf 12
LoRaSettings.apTransmissionParamId 1
LoRaSettings.edTransmissionParamId 1
LoRaSettings.powerDownSpfRssiSensitivityBoundary -83
LoRaSettings.powerDownPowerRssiSensitivityBoundary -90
LoRaSettings.powerUpSpfRssiSensitivityBoundary -109
LoRaSettings.powerUpPowerRssiSensitivityBoundary -102
LoRaSettings.seqTolerance 15
LoRaSettings.dutyCyclePercent 10
LoRaSettings.rssiHarmonizingMsgCount 3
LoRaSettings.snrSensitivityBoundary -12
LoRaSettings.dutyCycleSensitivityBoundary 50
LoRaSettings.dutyCycleRestrictionBoundary 20
LoRaSettings.dutyCycleSensitivityPoisonRssiValue 30
LoRaSettings.dutyCycleRestrictionPoisonRssiValue 50

ServerSetting.logFile logs.log


